asgiref==3.11.0
Django==5.2.8
sqlparse==0.5.4
# typing_extensions==4.15.0
tzdata==2025.3
pip==25.3


#  python -m venv venv 
#  .\venv\Scripts\activate
# pip install django==5.2.8
#  django-admin startproject core .
#  python .\manage.py startapp website
#  python .\manage.py runserver
#  python .\manage.py makemigrations
#  python .\manage.py migrate
# python manage.py  createsuperuser
#  pip freeze > .\requirements.txt
